

.box {
    margin-bottom: 20px; /* Adjust spacing as needed */
  }
  
  .bio-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .italicized-box {
    background-color: #e0e0e0; /* Customize the box background color */
    padding: 15px; /* Add padding to the box */
  }
  
  .title {
    font-family: 'Times New Roman', serif;
    text-align: center;
    font-size: 35px;

  }
  

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://previews.123rf.com/images/mycteria/mycteria1604/mycteria160400059/55753869-old-blank-page-from-ancient-book.jpg');
    font-family: 'Times New Roman', serif;

  }
  

  .box {
    background-color: rgba(255, 255, 255, 0.9); /* White background with transparency */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Subtle box shadow */
    position: relative; /* Position relative to allow content overlay */
    z-index: 1; /* Ensure the box is on top of the background image */
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    /* Set the background image on the container */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; /* Position relative to allow content overlay */
  }
  
  .italicized {
    text-align: justify; /* Justify text */
    font-family: 'Times New Roman', serif; /* Serif font */
    font-size: 30px; /* Adjust font size */
    line-height: 1.6; /* Adjust line height */
  }
  
  /* Drop Cap */
  .italicized::first-letter {
    font-size: 60px; /* Large initial letter size */
    float: left;
    margin: -10px 10px 0 0;
  }

 
  .page-number {
    margin-top: 300px; /* Add margin to create white space between the text and page number */
    text-align: center;
    font-size: 25px; /* Adjust font size as needed */
    color: #333; /* Adjust color as needed */
    font-family: 'Times New Roman', serif; /* Serif font */

    
  }


.book-page {
    max-width: 600px; 
    margin: 0 auto;
    padding: 20px;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9); /* White background with transparency */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Subtle box shadow */
    opacity: 1;
  }
  
@keyframes shake {
  0% { transform: translate(0, 0); }
  10% { transform: translate(-5px, 0); }
  20% { transform: translate(5px, 0); }
  30% { transform: translate(-5px, 0); }
  40% { transform: translate(5px, 0); }
  50% { transform: translate(-5px, 0); }
  60% { transform: translate(5px, 0); }
  70% { transform: translate(-5px, 0); }
  80% { transform: translate(5px, 0); }
  90% { transform: translate(-5px, 0); }
  100% { transform: translate(0, 0); }
}

.shake {
  animation: shake 0.5s ease-in-out;
}
