
.card-content img {
    width: 200px; 
    height: 200px; 
    border-radius: 10px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    display: block; 
    margin: 0 auto;
    background-color: white; 
    margin-bottom: 20px;

  }
  
  .card-content {
    padding-top: 10px;
    text-align: center; 
    margin-bottom: -19px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .teacher-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    
  }
  
.teacher-container {
  padding: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
}

