.inspiration-container {
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.inspiration-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Individual Inspiration Card */
.inspiration-card {
  background-color: #ffffff;
  width: 700px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.inspiration-subtitle{
  font-family: 'Times New Roman', Times, serif;
}

.inspiration_dropdown_student{
  font-family: 'Times New Roman', Times, serif;
}