.vocab-card-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
  }
  
  .package {
    width: calc(33.33% - 40px); 
    height: 200px;
    perspective: 1000px;
    position: relative;
  }
  
  .package:hover .card {
    transform: rotateY(180deg);
  }
  
  .card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;

  }
  
  .card-back {
    transform: rotateY(180deg);
    background-color: #f5f5f5; 
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASIAAACuCAMAAAClZfCTAAAAMFBMVEX//vn///n/gH3///+xsvza2vp1ef3j4/qmp/yHif37+/nAwfvNzft5fP3x8Pmam/wCwzSwAAAAzUlEQVR4nO3bSW4CQBADwCYbJCTh/7/lyNFHtzRVb2hb8kgzAwAAAAAAAACs9EYw7wTtIwYAAE5yIZgPgvkkELSoXYUAAMBJ2gtov/kicEVRO+cAAMBJ2gtov7kSzI1A0KJ2FQIAACdpL6D95ptgfggELWpXIQAAcJL2AtrPH5DIFUXtnAMAACdpL6D95k4wvwSCFrWrEAAAOEl7Ae03fwSuKGrnHAAAOEl7Ae03/wTzIBC0qF2FAADASdoLaD9LP/JeFAla1K5CAAAAXp4jWMLZSdP1BQAAAABJRU5ErkJggg==");
  }
  
  .card-header {
    background-color: #f5f5f5; 
    color: #333; 
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .vocab-page-container {
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }

  .card-header-title::selection,
  .card-back::selection {
    color: blue; 
  }
  
.card-back:hover {
    color: blue;
    font-weight: bold;
  }
  
.card-header-title {
    background: white;
}
.title-container {
    background-color: white; 
    padding: 30px; 
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 58px;
    width: 700px;
    height: 150px; 
    border: 3px solid green; 
    border-radius: 20%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASIAAACuCAMAAAClZfCTAAAAMFBMVEX//vn///n/gH3///+xsvza2vp1ef3j4/qmp/yHif37+/nAwfvNzft5fP3x8Pmam/wCwzSwAAAAzUlEQVR4nO3bSW4CQBADwCYbJCTh/7/lyNFHtzRVb2hb8kgzAwAAAAAAAACs9EYw7wTtIwYAAE5yIZgPgvkkELSoXYUAAMBJ2gtov/kicEVRO+cAAMBJ2gtov7kSzI1A0KJ2FQIAACdpL6D95ptgfggELWpXIQAAcJL2AtrPH5DIFUXtnAMAACdpL6D95k4wvwSCFrWrEAAAOEl7Ae03fwSuKGrnHAAAOEl7Ae03/wTzIBC0qF2FAADASdoLaD9LP/JeFAla1K5CAAAAXp4jWMLZSdP1BQAAAABJRU5ErkJggg==");
    margin: 0 auto;
    margin-bottom: 18px;



  }
  
.create-word-container {
    text-align: center; 
    margin-top: 20px; 
  }
  
  .package {
    margin: 10px; 
  }
  
  .content-container {
    text-align: center;
  }

  .title-box {
    background-color: white;
    padding: 10px; /* Add padding for spacing */
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  }

  .button-margin {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
  }