
.custom-label {
    font-family: 'Times New Roman', Times, serif;
  }
  
  .custom-input {
    font-family: 'Times New Roman', Times, serif;
  }
  

  
  .custom-input::placeholder {
    text-align: center; 
  }
  
  body {
    font-family: 'Times New Roman', Times, serif;
  }

