.student-list-container {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    align-items: center
}
   
  .title {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
  }
    
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin: 10px 0; /* Add margin to create space above and below each card */
    padding-bottom: 40px; /* Add padding to the bottom of each card */
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-front {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  .card-header-title {
    font-size: 1.2rem;
    margin: 0;
  }
    
  
  .delete-button {
    background-color: #ff3860;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #e2264d;
  }
  
  .create-word-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button.is-primary {
    background-color: #ff3860;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button.is-primary:hover {
    background-color: #e2264d;
  }
  
.card-content {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  font-size: larger;
}


  .green-bg {
    background-color: green;
  }
  
  .orange-bg {
    background-color: orange;
  }
  
  .red-bg {
    background-color: red;
  }