

.teal-note-card {
    background-color: teal;
    color: white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .powerRankings {
    /* Add any additional styles for the header here */
  }
  
  .rankings {
    /* Add any additional styles for the rankings container here */
  }
  